{% extends "people/base.html" %}

{% block content %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Hi {{ person.first_name}}!</h1>
        <p class="lead text-muted">We love you and want to stay connected with you no matter where you are in the world! We've created your own little page to upload anything you might like to share with Peanut! </p>
        <p>
          <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fileModal">
            Upload a File
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#photoModal">
            Upload a Photo
            </button>
          <!--<a href="#" class="btn btn-primary my-2">Upload a File</a>
          <a href="#" class="btn btn-secondary my-2">Leave a Comment</a>-->
        </p>
      </div>
    </div>
  </section>

<!---BOOOTSTRAP ABLUM START -->
<div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
<h1 style="text-align:center"> And photos or images you load will appear here...</h1>
{% for image in image_list %}

          
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <!-- <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap"> -->
                <img src="{{ image.uploaded_image.url}}" alt="connect" >
                <div class="card-body">
                  <p class="card-text">{{image.image_caption}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
           
{% endfor %}

        </div>   
      </div>
    </div>`

      <!---BOOOTSTRAP ABLUM END -->


<h1>{{ person.first_name}} {{person.last_name}}</h1>

<!-- was workign to upload a file
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
-->

<ul>
{% for media in media_list %}
    <li>{{ media.file_name}} - {{media.uploaded_file}}</li>
    <!-- <img src="{{ media.uploaded_file.url}}" alt="connect" style="max-height:300px"> -->
{% endfor %}
</ul>



<button type="button" class="btn btn-primary">Primary</button>

<a href="{% url 'index' %}">Return to Home</a>

<!-- Upload Modal -->
<div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload a file</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post" enctype="multipart/form-data" id="">
          {% csrf_token %}
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="">Person</label>
              <div class="col-sm-5">
                {{ mediaform.person }}
            </div>
          </div>   
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="">File Name</label>
              <div class="col-sm-5">
                {{ mediaform.file_name }}
            </div>
          </div>   
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="">Uploaded File</label>
              <div class="col-sm-5">
                {{ mediaform.uploaded_file }}
            </div>
          </div>   
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="">File Information</label>
              <div class="col-sm-5">
                {{ mediaform.file_information }}
            </div>
          </div>     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div></form>
    </div>
  </div>
</div>


<!-- Upload Photo Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload an Image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post" enctype="multipart/form-data" id="">
          {% csrf_token %}
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="">Person</label>
              <div class="col-sm-5">
                {{ imageform.person }}
            </div>
          </div>   
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="">Image Title</label>
              <div class="col-sm-5">
                {{ imageform.image_title }}
            </div>
          </div>   
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="">Choose Image</label>
              <div class="col-sm-5">
                {{ imageform.uploaded_image}}
            </div>
          </div>   
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="">Image Caption</label>
              <div class="col-sm-5">
                {{ imageform.image_caption }}
            </div>
          </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div></form>
      </div>
      
    </div>
  </div>
</div>

</body>
</html>


<!-- this section starts the album-->
  



{% endblock content %}